$font-family: "Quicksand", sans-serif;

$foreground-color: #000;
$background-color: #fff;

$card-border-color: #1d1d1d;
$breadcrumb-color: #828282;

$link-color: #dd2c2c;
$link-hover-color: rgb(180, 39, 39);
