@use "../../globals/styles/functions.scss" as func;
@use "../../globals/styles/variables.scss" as var;
@use "../../globals/styles/mixins.scss" as mix;

.header {
  display: flex;
  height: func.toRem(112);
  background-color: var.$foreground-color;

  @include mix.phone {
    height: fit-content;
    justify-content: center;
  }
}

.header__container {
  margin: 0 auto;
  display: flex;
  gap: func.toRem(60);
  background-color: var.$foreground-color;
  width: func.toRem(1670);

  @include mix.phone {
    display: block;
    text-align: center;
  }

  @include mix.tablet-up {
    padding: 0 func.toRem(15);
  }
}

.header__container__logo {
  display: flex;
  align-items: center;

  @include mix.phone {
    padding-top: func.toRem(20);
    justify-content: center;
  }
}

.header__container__logo-img {
  width: func.toRem(84);
  height: func.toRem(72);
}

.header__container__navigation-ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;

  @include mix.phone {
    display: block;
  }

  @include mix.tablet-up {
    gap: func.toRem(35);
  }

  @include mix.desktop-up {
    gap: func.toRem(81);
  }
}

.header__container__navigation-li {
  color: var.$background-color;
  font-weight: bold;
  font-size: func.toRem(18);
  cursor: pointer;

  &:hover {
    color: var.$link-color;
  }

  @include mix.phone {
    padding: func.toRem(8);
  }
}
